:root {
  font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #121212;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: none;
}
